/* Estilos básicos */
body {
  font-family: 'Roboto', Arial, sans-serif; /* Fuente principal */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

header {
  /* Degradado de fondo en el header de izquierda a derecha */
  background: linear-gradient(90deg, #1E2460, #E63244); 
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 2em;
}

header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Estilos para el logo en el header */
header img.logo {
  max-width: 200px; /* Ajusta el tamaño del logo según lo necesites */
  height: auto; /* Mantener la proporción original */
  display: block; /* Elimina el espacio debajo de la imagen */
  margin: 0 auto; /* Centrar la imagen */
}

/* Estilos para la sección principal */
main {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ticket-info {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  padding: 20px;
}

.ticket-details {
  font-family: 'Roboto Mono', monospace; /* Fuente monoespaciada */
}

.ticket-details table {
  width: 100%;
  border-collapse: collapse;
}

.ticket-details table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 1em;
}

.ticket-details table td:first-child {
  font-weight: bold;
}

/* Estilos del pie de página */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

/* Responsividad */
@media (max-width: 768px) {
  header {
    font-size: 1.5em;
  }

  .ticket-info {
    padding: 10px;
  }

  .ticket-details table td {
    padding: 8px;
  }

  footer {
    font-size: 0.8em;
  }
}
