/* Estilos básicos */
body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #3e2579, #E63244); /* Degradado */
  color: white;
  padding: 10px 20px;
}

.header-left {
  flex: 1;
}

.logo {
  max-width: 120px; /* Ajustar tamaño del logo */
}

.header-middle {
  flex: 2;
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 80%;
  padding: 8px;
  border: none;
  border-radius: 25px;
}

.search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.search-button img {
  width: 20px;
  height: 20px;
}

.header-right {
  flex: 1;
  text-align: right;
}

.menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu-button img {
  width: 25px;
  height: 25px;
}

/* Ajustes para el nombre del titular y el DNI */
.user-info {
  text-align: left;
  margin-top: 20px;
  padding-left: 20px;
}

.user-name {
  font-size: 1.5em;
  font-weight: bold;
}

.user-dni {
  font-size: 1.1em;
  font-weight: normal;
  margin-top: 5px;
}

/* Estilos para el botón eTickets */
.etickets-button-container {
  text-align: center;
  margin-top: 20px;
}

.etickets-button {
  background-color: #3e2579;
  color: white;
  border: none;
  padding: 14px 0;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.etickets-button:hover {
  background-color: #E63244;
}

main {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Contenedor de los detalles de orden */
.ticket-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.ticket-info {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  padding: 20px;
}

.ticket-details {
  font-family: 'Roboto Mono', monospace;
}

.ticket-details table {
  width: 100%;
  border-collapse: collapse;
}

.ticket-details table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 1em;
  color: #333;
}

.ticket-details table td:first-child {
  font-weight: bold;
}

.available-date {
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
  padding: 10px 0;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

/* Responsividad */
@media (max-width: 768px) {
  header {
    font-size: 1.2em;
  }

  .ticket-info {
    padding: 10px;
  }

  .ticket-details table td {
    padding: 8px;
  }

  footer {
    font-size: 0.8em;
  }

  .search-bar {
    width: 70%;
  }

  .search-button img {
    width: 18px;
    height: 18px;
  }
}
